[submodule "lib/TIinterpreter"]
	path = lib/TIinterpreter
	url = https://github.com/tien-ce/Write-your-own-interpreter-language
[submodule "lib/chashmap"]
	path = lib/chashmap
	url = https://github.com/tien-ce/chashmap
